.cart {
    margin: 100px 200px 0px 200px;
}
.borderBottom {
    border-bottom: 1px solid #ccc;
}
.shoppingCartItems {
    padding: 20px 0px;
}
.imageCart {
    max-width:  180px;
    border-radius: 20px;
}
.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}